.project
de.tudarmstadt.ukp.wikulu/.settings
.classpath
de.tudarmstadt.ukp.wikulu/de.tudarmstadt.ukp.wikulu.plugin.keyphraseextraction/.settings
de.tudarmstadt.ukp.wikulu/de.tudarmstadt.ukp.wikulu.plugin.pluginmenu/.settings
de.tudarmstadt.ukp.wikulu/de.tudarmstadt.ukp.wikulu.plugin.textsimplification/.settings
org.eclipse.m2e.core.prefs
de.tudarmstadt.ukp.wikulu/de.tudarmstadt.ukp.wikulu.plugin.linksuggestion/.settings
